<section class="order-1 flex-grow mr-10 xs:w-full xs:mr-0">
    <h2 class="articles-header">Últimos artículos</h2>

    <article class="article-item">
        <div class="article-data">
            <span>Fecha: 10 de junio</span>
            <span>Categoría: Pruebas </span>
        </div>

        <h4 class="article-head">
            <a href="#">Título del artículo</a>
        </h4>

        <p class="article-description">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo
            voluptatum cupiditate provident temporibus suscipit doloremque ab
            tenetur labore sunt? Blanditiis vel delectus praesentium dolorum at
            ratione dolore itaque non ullam! Repellendus voluptate natus
            impedit? Quasi commodi maxime dolorum, modi eaque laborum assumenda?
            Iure at nemo voluptas nobis dicta quod omnis odit sunt tenetur
            molestias unde facere dolorum, fuga esse facilis!
        </p>
    </article>

    <article class="article-item">
        <!-- Llmamos al método de la clase 'article-data' que hemos creado en input.css -->
        <div class="article-data">
            <!-- Estos span tienen una clase en '.article-data span' en input.css, que define relgas css -->
            <span>Fecha: 10 de junio</span>
            <span>Categoría: Pruebas</span>
        </div>

        <!-- Llmamos al método de la clase 'article-head' que hemos creado en input.css -->
        <h4 class="article-head">
            <!-- Este enalce tiene una clase en '.article-head a' en input.css, que define relgas css -->
            <a href="#">Título del artículo</a>
        </h4>

        <!-- Llmamos al método de la clase 'article-description' que hemos creado en input.css -->
        <p class="article-description">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo
            voluptatum cupiditate provident temporibus suscipit doloremque ab
            tenetur labore sunt? Blanditiis vel delectus praesentium dolorum at
            ratione dolore itaque non ullam! Repellendus voluptate natus
            impedit? Quasi commodi maxime dolorum, modi eaque laborum assumenda?
            Iure at nemo voluptas nobis dicta quod omnis odit sunt tenetur
            molestias unde facere dolorum, fuga esse facilis!
        </p>
    </article>

    <!-- Llmamos al método de la clase 'article-item' que hemos creado en input.css -->
    <article class="article-item">
        <!-- Llmamos al método de la clase 'article-data' que hemos creado en input.css -->
        <div class="article-data">
            <!-- Estos span tienen una clase en '.article-data span' en input.css, que define relgas css -->
            <span>Fecha: 10 de junio</span>
            <span>Categoría: Pruebas</span>
        </div>

        <!-- Llmamos al método de la clase 'article-head' que hemos creado en input.css -->
        <h4 class="article-head">
            <!-- Este enalce tiene una clase en '.article-head a' en input.css, que define relgas css -->
            <a href="#">Título del artículo</a>
        </h4>

        <!-- Llmamos al método de la clase 'article-description' que hemos creado en input.css -->
        <p class="article-description">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo
            voluptatum cupiditate provident temporibus suscipit doloremque ab
            tenetur labore sunt? Blanditiis vel delectus praesentium dolorum at
            ratione dolore itaque non ullam! Repellendus voluptate natus
            impedit? Quasi commodi maxime dolorum, modi eaque laborum assumenda?
            Iure at nemo voluptas nobis dicta quod omnis odit sunt tenetur
            molestias unde facere dolorum, fuga esse facilis!
        </p>
    </article>

    <!-- Llmamos al método de la clase 'article-item' que hemos creado en input.css -->
    <article class="article-item">
        <!-- Llmamos al método de la clase 'article-data' que hemos creado en input.css -->
        <div class="article-data">
            <!-- Estos span tienen una clase en '.article-data span' en input.css, que define relgas css -->
            <span>Fecha: 10 de junio</span>
            <span>Categoría: Pruebas</span>
        </div>

        <!-- Llmamos al método de la clase 'article-head' que hemos creado en input.css -->
        <h4 class="article-head">
            <!-- Este enalce tiene una clase en '.article-head a' en input.css, que define relgas css -->
            <a href="#">Título del artículo</a>
        </h4>

        <!-- Llmamos al método de la clase 'article-description' que hemos creado en input.css -->
        <p class="article-description">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo
            voluptatum cupiditate provident temporibus suscipit doloremque ab
            tenetur labore sunt? Blanditiis vel delectus praesentium dolorum at
            ratione dolore itaque non ullam! Repellendus voluptate natus
            impedit? Quasi commodi maxime dolorum, modi eaque laborum assumenda?
            Iure at nemo voluptas nobis dicta quod omnis odit sunt tenetur
            molestias unde facere dolorum, fuga esse facilis!
        </p>
    </article>
</section>
