<aside id="lateral" class="order-2 flex-none w-72 min-h-full xs:w-full xs:m-0">
    <h3 class="aside-header">BUSCAR</h3>
    <div id="search" class="w-11/12 h-7 m-2.5 mx- bg-white border border-gray-200 rounded shadow-inner">
        <form>
            <input
                type="text"
                class="w-10/12 h-6 border-none pl-1.5 rounded-md bg-transparent text-gray-500 transition
                duration-300 outline-none focus:outline-none"
            />
            <input
                type="button"
                value="L"
                class="symbol h-6 cursor-pointer text-base bg-transparent border-none text-gray-500 pl-2"
            />
        </form>
    </div>

    <h3 class="aside-header">LOGIN</h3>
    <div id="login" class="aside-box">
        <form>
            <label for="email" class="login-icon">U</label>
            <input type="email" id="email" class="login-input" />

            <label for="password" class="login-icon text-xl ml-7 mt-6">w</label>
            <input type="password" id="password" class="login-input" />

            <input type="submit" value="Entrar" class="login-button" />
            <input type="reset" value="Limpiar" class="login-button ml-1" />
        </form>
    </div>

    <h3 class="aside-header">REDES SOCIALES</h3>
    <div id="social-media" class="aside-box h-48">
        <div class="group X">
            <!-- group: identificador para su uso en la clase social-overlay -->
            <a href="#" class="social-icon">t</a>
            <p class="social-overlay">X (Antes Twitter)</p>
        </div>

        <div class="group facebook">
            <a href="#" class="social-icon">f</a>
            <p class="social-overlay">Facebook</p>
        </div>

        <div class="group youtube">
            <a href="#" class="social-icon">y</a>
            <p class="social-overlay">Youtube</p>
        </div>
    </div>

    <!-- Llamamos al método de la clase 'aside-header' que hemos creado en tailwind.css -->
    <h3 class="aside-header">PATROCINADORES</h3>
    <div id="sponsors" class="aside-box"></div>
</aside>
