<footer
  id="footer"
  class="w-full h-auto bg-blue-950 text-white overflow-hidden"
>
  <div
    class="container w-11/12 mx-auto flex flex-row xs:flex-col md:flex-col lg:flex-row"
  >
    <div id="menu-footer" class="footer-box mt-10">
      <h5 class="footer-header">MENÚ</h5>
      <ul class="footer-menu">
        <li><a href="#">INICIO</a></li>
        <li><a href="#">BLOG</a></li>
        <li><a href="#">FORMACIÓN</a></li>
        <li><a href="#">CONTACTO</a></li>
      </ul>
    </div>

    <div id="location" class="footer-box">
      <h5 class="footer-header">¿DÓNDE ESTAMOS?</h5>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8832.76570946596!2d-3.697426234615247!3d40.42807117204863!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd42288920b0b775%3A0x27cd4c564fdc2d65!2sMuseo%20del%20Romanticismo!5e0!3m2!1ses!2ses!4v1719597901311!5m2!1ses!2ses"
        width="600"
        height="450"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
        class="w-full h-80 mt-3 border-4 border-gray-400 rounded-md shadow-md"
      >
      </iframe>
    </div>
    <!-- Llmamos al método de la clase 'footer-box' que hemos creado en tailwind.css -->
    <div id="info" class="footer-box">
      <h5 class="footer-header">Desarrollado con</h5>
      <p class="mb-5 text-center">
        <img
          class="mb-5 mx-auto"
          src="/src/assets/img/html5-badge-h-css3-graphics-multimedia-performance-semantics.png"
          alt=""
        />
      </p>

      <!-- Llmamos al método de la clase 'footer-header' que hemos creado en tailwind.css -->
      <h5 class="footer-header">Optimizado para</h5>
      <div class="browsers flex flex-row space-x-5 mb-6">
        <a href="#"><img src="/src/assets/img/firefox-icon.png" alt="" /></a>
        <a href="#"><img src="/src/assets/img/chrome.png" alt="" /></a>
        <a href="#"><img src="/src/assets/img/Opera_256x256.png" alt="" /></a>
        <a href="#"><img src="/src/assets/img/safari.png" alt="" /></a>
        <a href="#"><img src="/src/assets/img/android.png" alt="" /></a>
        <a href="#"><img src="/src/assets/img/ios.png" alt="" /></a>
      </div>

      <h5 class="footer-header">AUTOR</h5>
      <p>&copy; Alex Santana</p>
    </div>
  </div>
</footer>
