---

---

<!-- INICIO CABECERA -->
<header id="header" class="bg-blue-950 text-white bebas xxs:h-56 xs:h36">
    <div class="container w-11/12 mx-auto flex md:flex-row xs:flex-col">
        <div id="logo" class="flex-1 xxs:-ml-4 xs:mx-auto">
            <div
                class="group w-64 pt-0.5 pb-0.5 mt-4 ml-6 bg-azul-claro text-center tracking-wider cursor-pointer
            overflow-hidden transition duration-300 rounded-sm hover:text-black hover:bg-gray-200"
            >
                <span
                    class="symbol display block float-left text-3xl mt-1 ml-11 animate-spin-low
                    group-hover:animate-from-below"
                >
                    []
                </span>
                <h3
                    class="block float-right text-4xl mt-1.5 mr-16 transtion duration-100 group-hover:animate-from-right"
                >
                    BLOG
                </h3>
            </div>
        </div>

        <nav class="flex-1">
            <ul
                class="flex flex-row h-20 items-center text-2xl text-center mr-6 md:justify-end xs:mr-0 xs:text-center
                xxs:block xxs:mt-3 xxs:text-left"
            >
                <li class="menu-item">
                    <a href="#" class="menu-item-a">INICIO</a>
                </li>
                <li class="menu-item">
                    <a href="#" class="menu-item-a">BLOG</a>
                </li>
                <li class="menu-item">
                    <a href="#" class="menu-item-a">FORMACIÓN</a>
                </li>
                <li class="menu-item">
                    <a href="#" class="menu-item-a">CONTACTO</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<!-- FIN CABECERA -->
