---

---

<!-- INICIO SECCIÓN INFORMACIÓN -->
<section class="container w-11/12 mx-auto">
    <!-- INICIO BANNER -->
    <div
        id="banner"
        class="w-full h-28 mx-auto border-8 border-white overflow-hidden shadow m-5 bg-banner
        bg-banner-position animate-bg-banner"
    >
        <h1
            class="text-banner bebas block text-white text-4xl font-normal tracking-wider m-7 mx-auto text-center
            animate-text-banner xs:text-2xl xs:mt-8"
        >
            BLOG - INFORMÁTICA
        </h1>
    </div>
    <!-- FIN BANNER -->

    <!-- INICIO TARJETAS -->
    <div id="cards" class="flex flex-nowrap justify-between xxs:block xs:block">
        <div class="card group">
            <span class="card-icon group-hover:animate-show-card-icon">H</span>
            <h2 class="card-category group-hover:animate-show-card-category">
                Desarrollo web
            </h2>
            <p
                class="card-description group-hover:animate-show-card-description"
            >
                Aprende los principales lenguajes de desarrollo web
            </p>
        </div>
        <div class="card group">
            <span class="card-icon group-hover:animate-show-card-icon">_</span>
            <h2 class="card-category group-hover:animate-show-card-category">
                Sistemas operativos
            </h2>
            <p
                class="card-description group-hover:animate-show-card-description"
            >
                Aprende los principales lenguajes de desarrollo web
            </p>
        </div>

        <div class="card group">
            <span class="card-icon group-hover:animate-show-card-icon">S</span>
            <h2 class="card-category group-hover:animate-show-card-category">
                Hardware
            </h2>
            <p
                class="card-description group-hover:animate-show-card-description"
            >
                Conoce todo acerca del hwardware
            </p>
        </div>

        <div class="card group">
            <span class="card-icon group-hover:animate-show-card-icon">u</span>
            <h2 class="card-category group-hover:animate-show-card-category">
                Redes e internet
            </h2>
            <p
                class="card-description group-hover:animate-show-card-description"
            >
                Configura redes y servidores
            </p>
        </div>

        <div class="card group">
            <span class="card-icon group-hover:animate-show-card-icon">a</span>
            <h2 class="card-category group-hover:animate-show-card-category">
                Bases de datos
            </h2>
            <p
                class="card-description group-hover:animate-show-card-description"
            >
                Aprende a trabajar con bases de datos
            </p>
        </div>
    </div>
    <!-- FIN TARJETAS -->
</section>
<!-- FIN SECCIÓN INFORMACIÓN -->
